In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

df = pd.read_csv("Titanic-Dataset.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Titanic-Dataset.csv'

In [2]:
print("Shape of the dataset:", df.shape)
print("\nLet's take a peek at the first few rows:")
display(df.head())

print("\nAny missing values before we start cleaning?")
print(df.isnull().sum())

NameError: name 'df' is not defined

In [3]:
df["Age"].fillna(df["Age"].median(), inplace=True)

df["Embarked"].replace('', np.nan, inplace=True)
df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

print("Missing values after handling Age and Embarked:")
print(df.isnull().sum())

NameError: name 'df' is not defined

In [4]:
print("Fare values before scaling (first 8 rows):")
print(df["Fare"].head(8))

if df["Fare"].isnull().any():
    print("Looks like there were some missing Fare values - filling them with the median before scaling.")
    df["Fare"].fillna(df["Fare"].median(), inplace=True)

scaler = StandardScaler()
df["Fare_scaled"] = scaler.fit_transform(df[["Fare"]])[:, 0]

print("\nFare values after scaling (first 8 rows):")
print(df[["Fare", "Fare_scaled"]].head(8))

Fare values before scaling (first 8 rows):

NameError: name 'df' is not defined

In [5]:
print("Columns before one-hot encoding:")
print(list(df.columns))

print("\nSex and Embarked columns before encoding (first 8 rows):")
print(df[["Sex", "Embarked"]].head(8))

Columns before one-hot encoding:

NameError: name 'df' is not defined

In [6]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first', sparse_output=False)

encoded_arr = ohe.fit_transform(df[["Sex", "Embarked"]])

encoded_cols = ohe.get_feature_names_out(["Sex", "Embarked"])

encoded_df = pd.DataFrame(encoded_arr, columns=encoded_cols, index=df.index)

print("The new encoded columns (first 8 rows):")
print(encoded_df.head(8))

NameError: name 'df' is not defined

In [7]:
import seaborn as sns
import matplotlib.pyplot as plt

num_features = ["Pclass", "Age", "SibSp", "Parch", "Fare"]

df["Survived"] = df["Survived"].astype(int)

sns.pairplot(df[num_features + ["Survived"]], hue="Survived", diag_kind="hist", plot_kws={"alpha":0.6})
plt.suptitle("Pairplot of Numerical Features grouped by Survived", y=1.02)
plt.show()

NameError: name 'df' is not defined

In [8]:
print("First 5 rows of the encoded dataset:")
print(encoded_df.head())

First 5 rows of the encoded dataset:

NameError: name 'encoded_df' is not defined

In [9]:
final_df = pd.concat([df.drop(columns=["Sex", "Embarked", "Fare"]), encoded_df], axis=1)

print("Here's what the first 5 rows of the final processed dataset look like:")
display(final_df.head())

NameError: name 'df' is not defined